<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90888430422-5hkg2v49aabo27i0u10a2hgs0vaofurv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90888430422-5hkg2v49aabo27i0u10a2hgs0vaofurv</string>
	<key>API_KEY</key>
	<string>AIzaSyCxLRn58yv04KvFAaR1W68X6P_0zIyDZBk</string>
	<key>GCM_SENDER_ID</key>
	<string>90888430422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.littlema.ShareTogether</string>
	<key>PROJECT_ID</key>
	<string>sharetogether-4c747</string>
	<key>STORAGE_BUCKET</key>
	<string>sharetogether-4c747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90888430422:ios:fabb832db93cab7367ecf7</string>
	<key>DATABASE_URL</key>
	<string>https://sharetogether-4c747.firebaseio.com</string>
</dict>
</plist>