<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrivacyURL</key>
	<string>https://www.privacypolicies.com/privacy/view/e9b6b5e82a15d74909eff1e0d8234312</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb517301969083851</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.90888430422-5hkg2v49aabo27i0u10a2hgs0vaofurv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DemoGroupCoverURL</key>
	<string>https://firebasestorage.googleapis.com/v0/b/sharetogether-4c747.appspot.com/o/GroupCover%2Ftaipei.jpg?alt=media&amp;token=619645b6-959a-4bdd-8c69-b72b3ae9890c</string>
	<key>DemoGroupID</key>
	<string>VLBAHiWZpBu5j1mvkA4d</string>
	<key>FacebookAppID</key>
	<string>517301969083851</string>
	<key>FacebookDisplayName</key>
	<string>ShareTogether</string>
	<key>FirebasePushURL</key>
	<string>https://fcm.googleapis.com/fcm/send</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>請允許使用相機進行 QRcode 掃描</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>允許後我們將使用您的位置，作為紀錄消費地點資訊</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>允許後我們將使用你的相簿以上傳相片作為群組封面</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
